<div class="wrapper">
  <section class="hero">

    <header class="header default" style="display: block;">
      <div class="left-part">
        <a class="logo scroll" [routerLink]="['/']">
          <h2>By Zero Stats</h2>
        </a>
      </div>
      <div class="right-part">
        <nav class="main-nav">
          <div class="toggle-mobile-but">
            <a href="#" class="mobile-but">
              <div class="lines"></div>
            </a>
          </div>
          <ul>
            <li [routerLink]="['/']"><a class="external"><i class="icon-resize-full-3"></i></a></li>
            <li><a class="scroll" href="#about">about</a></li>
            <li><a class="scroll" href="#features">features</a></li>
            <li><a [routerLink]="['/login']" class="but login scroll">login<i class="icon-lock"></i></a></li>
            <li><a [routerLink]="['/register']" class="but login scroll">Register<i class="icon-lock"></i></a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="inner-hero">
      <div class="container hero-content">
        <!--Row-->
        <div class="row">
          <div class="col-sm-10 offset-sm-1 text-center">
            <div class="block-teaser">
              <h1>Fast, Secure, Accurate & Free</h1>
              <p class="lead">ByZeroStats is a a website & mobile analysis tool <br>with millions of features, all of which are free.
              </p>
              <a class="but medium mt-20" [routerLink]="['/register']">Get Started</a>
            </div>
          </div>
        </div>
        <!--End row-->
        <!--Row-->
        <div class="row">
          <div class="col-md-8 offset-md-2 ">
            <div class="block-media mt-60 page">
              <div class="block-shot">
                <img src="../assets/img/1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <!--End row-->
      </div>
    </div>

  </section>


  <section id="about" class="about pt-120 pb-120">
    <!--Container-->
    <div class="container">
      <!--Row-->
      <div class="row mb-60">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
          <div class="block-content text-center">
            <h1 class="title">World at your fingertips
            </h1>
            <p class="lead">Simply download our libraries, include them in your projects
              and BOOM! now you can easily analyse and monitor your apps from anywhere.</p>
          </div>
        </div>
      </div>
      <!--End row-->
      <!--Row-->
      <div class="row mb-30">
        <div class="col-md-4 col-sm-4">
          <div class="feature clearfix">
            <div class="ico column"><i class="icon-mobile-6"></i></div>
            <div class="desc column">
              <h4>Great For Mobile</h4>
              <p>Our libraries are available for mobile platforms too. Available for Android & IOS.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="feature clearfix">
            <div class="ico column"><i class="icon-clock-7"></i></div>
            <div class="desc column">
              <h4>Easy To Setup</h4>
              <p>All you have to do is download the libraries, include them in your project and 1 line of code.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="feature clearfix">
            <div class="ico column"><i class="icon-lightbulb-3"></i></div>
            <div class="desc column">
              <h4>For Marketing</h4>
              <p>Our analysis tool is so accurate and awesome that your marketing strategies will fly high.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--End row-->
      <!--Row-->
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="feature clearfix">
            <div class="ico column"><i class="icon-cloud-7"></i></div>
            <div class="desc column">
              <h4>Light Design</h4>
              <p>Developed by our awesome developers, the libraries are extremely lightweight & superfast.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="feature clearfix">
            <div class="ico column"><i class="icon-beaker-1"></i></div>
            <div class="desc column">
              <h4>Multipurpose</h4>
              <p>ByZeroStats can be setup to be used in a variety of ways. Your imagination is the limit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="feature clearfix">
            <div class="ico column"><i class="icon-paper-plane-3"></i></div>
            <div class="desc column">
              <h4>Great Support</h4>
              <p>Our furious support team is 24x7 ready to help and assist you. Just contact us. Will you?
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End container-->
  </section>


  <section id="features" class="features bg-grey pt-120 pb-120">
    <!--Container-->
    <div class="container">
      <!--Row-->
      <div class="row vertical-align">
        <div class="col-md-5 col-sm-5">
          <div class="block-shot">
            <img src="../assets/img/4.png" alt="">
          </div>
        </div>
        <div class="col-md-5 offset-md-2 col-sm-8 offset-sm-1">
          <h3 class="title">Take a quick look at some<br>
            great features !
          </h3>
          <ul class="features-list">
            <li>Desktop website support</li>
            <li>Mobile website support</li>
            <li>Android apps support</li>
            <li>IOS apps support</li>
            <li>Tons of analysis tools</li>
            <li>Geographic representation</li>
            <li>24x7 technical support</li>
            <li>Forever free! What else do you need?</li>
          </ul>
          <a class="but mauve mt-20 scroll" [routerLink]="['/register']">Get Started</a>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End container-->
  </section>


  <footer class="footer pt-90 pb-90 text-center">
    <!--Container-->
    <div class="container">
      <!--Row-->
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 text-center ">
          <a class="logo scroll" [routerLink]="['/']">
            <h2>By Zero Stats</h2>
          </a>
          <p>© 2017 all rights reserved.</p>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End container-->
  </footer>

</div>
