<div class="form-wrapper">

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 offset-md-4 offset-sm-3">
          <form method="#" action="#">

            <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
            <div class="card" style="margin-top: 50px">
              <div class="header text-center">Register</div>
              <div class="content">
                <div class="form-group">
                  <label>Name</label>
                  <input name="name" type="text" placeholder="Name" class="form-control" [(ngModel)]="user.name">
                </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input name="emai;" type="email" placeholder="Enter email" class="form-control" [(ngModel)]="user.email">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input name="password" type="password" placeholder="Password" class="form-control" [(ngModel)]="user.password">
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input name="confirm_password" type="password" placeholder="Confirm Password" class="form-control" [(ngModel)]="user.confirmPassword">
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-danger btn-wd" (click)="register()">Register</button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

</div>
