
.main-panel
  .navbar
    margin-bottom: 0

.navbar-default
  background-color: rgba(255, 255, 255, 0.96)
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

.navbar
  font-family: Roboto, sans-serif
  border: 0
  font-size: 16px
  border-radius: 0
  padding: 0
  display: block
  min-height: 50px
  .navbar-minimize
    float: left
    margin: 3px 15px
  .btn
    margin: 10px 3px
    font-size: 14px
    border-radius: 50%
    .fa
      width: 20px
  .navbar-brand
    font-weight: 400
    margin: 7px 0px
    padding: 15px 15px
    font-size: 20px
    height: 50px
    color: #777
    line-height: 20px
  .log-out
    color: #4772d9 !important
    float: right
    font-size: 16px

.btn-round.btn-icon
  padding: 8px

.btn-danger.btn-fill
  color: #FFFFFF
  background-color: #4772d9
  opacity: 1


.navbar .navbar-nav > li > a
  padding: 10px 15px
  margin: 10px 3px
  position: relative

.navbar-default .navbar-nav > li > a:not(.btn)
  color: #9A9A9A

.navbar .navbar-nav > li > a [class^="fa"]
  font-size: 19px
  position: relative
  line-height: 16px
  top: 1px
