@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 100
  src: local('Lato Hairline'), local('Lato-Hairline'), url('https://fonts.googleapis.com/css?family=Roboto:300,400') format('woff2')

.wrapper
  position: relative
  top: 0
  height: 100vh
  min-height: 100vh

.main-panel
  max-height: 100%
  height: 100%
  background: #F5F5F5
  position: relative
  float: right
  width: calc(100% - 260px)
  min-height: 100%

.main-content
  padding: 30px 15px
  height: calc(100vh - 64px)
  overflow-y: auto


.card
  padding: 15px 20px
  text-align: center
  .heading
    font-size: 16px
    font-weight: 400
  .content
    padding-top: 5px
    font-size: 14px
    font-weight: 300
    color: #4772d9 !important
  .code-heading
    font-size: 16px
    text-align: left
    margin-top: 50px
    margin-left: 5px
  pre
    word-wrap: normal
    display: block
    color: #393318
    font-size: 13px
    background-color: #eff0f1
    margin-top: 10px
    padding: 10px 0
    text-align: left
    border-radius: 5px

.code-btns
  background-color: #4772d9
  border: 1px solid #4772d9
  color: #ffffff
  font-family: Roboto, sans-serif
  font-size: 14px
  font-weight: 300
  border-radius: 2px
  padding: 8px 20px
  margin: 5px
  cursor: pointer
  transition: all .3s
  &:hover
    background-color: #fa0515


.heading
  background-color: #4772d9
  color: #ffffff
  padding: 15px
  font-size: 1.3rem
  font-weight: 300
  font-family: 'Roboto', sans-serif
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2)
  margin-bottom: 50px

.chart-card
  display: inline-block
  position: relative
  width: 100%
  margin: 25px 0
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)
  border-radius: 3px
  color: rgba(0,0,0, 0.87)
  background: white
  font-family: 'Roboto', sans-serif
  font-weight: 300
  .chart-card-header
    padding: 0
    min-height: 160px
    margin: -20px 15px 0
    border-radius: 3px
    text-align: center
  .chart-card-content
    padding: 15px 20px
    .category
      margin-bottom: 0
      color: #999999
      font-weight: 300
      font-size: 14px
    .text-success
      color: #4caf50 !important
  .title
    margin-top: 0
    margin-bottom: 5px
    font-size: 1.3em
    font-weight: 300
    line-height: 1.5em
  .chart-card-footer
    margin: 0 20px 10px
    padding-top: 10px
    border-top: 1px solid #eeeeee
    .stats
      line-height: 22px
      color: #999999
      font-size: 12px
      .material-icons
        position: relative
        top: 4px
        font-size: 16px
    div
      display: inline-block
