@import "../../../styles/default"

.sidebar
  font-family: Roboto, sans-serif
  font-weight: 300
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 260px
  display: block
  z-index: 1
  color: #fff
  max-height: 100%
  height: 100%
  opacity: .95
  &:before
    display: block
    content: ""
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 2
  .sidebar-background
    position: absolute
    z-index: 1
    height: 100%
    width: 100%
    display: block
    top: 0
    left: 0
    background: url('../../../assets/img/full-screen-image-3.jpg') center center
    background-size: cover
  .main
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 0
    z-index: 2
    background: #4772d9
    background: -moz-linear-gradient(top, #4772d9 0%, rgba(187, 5, 2, 0.7) 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4772d9), color-stop(100%, rgba(187, 5, 2, 0.7)))
    background: -webkit-linear-gradient(top, #4772d9 0%, rgba(187, 5, 2, 0.7) 100%)
    background: -o-linear-gradient(top, #4772d9 0%, rgba(187, 5, 2, 0.7) 100%)
    background: -ms-linear-gradient(top, #4772d9 0%, rgba(187, 5, 2, 0.7) 100%)
    background: linear-gradient(to bottom, #4772d9 0%, rgba(187, 5, 2, 0.7) 100%)
    background-size: 150% 150%
  .logo
    padding: 10px 15px
    position: relative
    z-index: 4
    &:before
      content: ""
      position: absolute
      bottom: 0
      right: 10%
      width: 80%
      height: 1px
      background-color: rgba(255, 255, 255, 0.3)
    .logo-text
      text-transform: uppercase
      padding: 5px 0px 5px 15px
      display: block
      font-size: 18px
      color: #FFFFFF
      font-weight: 300
      line-height: 30px
      white-space: nowrap
      overflow: hidden
      text-align: center

  .user
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    padding-bottom: 20px
    margin-top: 20px
    .photo
      width: 80px
      height: 80px
      overflow: hidden
      border-radius: 50%
      border: 4px solid rgba(255, 255, 255, 0.3)
      margin: 0 auto
      img
        width: 100%
    .info
      color: #FFFFFF
      padding: 8px 14px
      text-align: center
      display: block
      font-size: 14px

  .sidebar-wrapper > .user ~ .nav
    margin-top: 0

.nav
  display: block

.nav > li
  position: relative
  display: block
.nav > li > a
  position: relative
  display: block
  padding: 10px 15px

.sidebar .nav li > a
  margin: 5px 15px 0px
  border-radius: 4px
  color: #FFFFFF
  opacity: .86

.sidebar .nav li.active > a
  color: #FFFFFF
  opacity: 1
  background: rgba(255, 255, 255, 0.23)

.sidebar .nav
  i
    font-size: 28px
    float: left
    margin-right: 15px
    line-height: 30px
    width: 30px
    text-align: center
  p
    margin: 0
    line-height: 30px
    font-size: 12px
    font-weight: 500
    text-transform: uppercase
    white-space: nowrap
    position: relative
    color: #FFFFFF
    letter-spacing: .5px
    .caret
      top: 12px
      position: absolute
      right: 0


.sidebar .nav [data-toggle="collapse"] ~ div > ul > li > a
  padding-left: 60px
  font-size: 14px
  font-weight: 300
  letter-spacing: .5px
  font-family: Roboto, sans-serif
