/* latin-ext */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 100
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v13/h3_FseZLI76g1To6meQ4zX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 100
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://fonts.gstatic.com/s/lato/v13/ifRS04pY1nJBsu8-cUFUS-vvDin1pK8aKteLpeZ5c0A.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

/* latin-ext */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 300
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v13/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 300
  src: local('Lato Light'), local('Lato-Light'), url(http://fonts.gstatic.com/s/lato/v13/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

/* latin-ext */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 400
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 400
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

/* latin-ext */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 700
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 700
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215

/* latin-ext */
@font-face
  font-family: 'Lato'
  font-style: italic
  font-weight: 300
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v13/XNVd6tsqi9wmKNvnh5HNEIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2')
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

/* latin */
@font-face
  font-family: 'Lato'
  font-style: italic
  font-weight: 300
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(http://fonts.gstatic.com/s/lato/v13/2HG_tEPiQ4Z6795cGfdivJBw1xU1rKptJj_0jans920.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215






body
  background: #efefef
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
  color: #757575
  margin: 0
  font-size: 14px
  font-weight: 400


.wrapper
  position: relative
  background: #ffffff
  max-width: 1600px
  margin: 0 auto

section
  position: relative
  font-family: Lato, sans-serif
  &.hero
    background: #4772d9
    margin: 0 0 240px
    padding: 0
    position: relative
    height: 700px
    .inner-hero
      bottom: 0
      left: 0
      position: absolute
      right: 0
      top: 0
      height: 100%

.header
  position: relative
  z-index: 2
  padding: 12px 0
  font-family: Lato, sans-serif
  .default
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: 1000
    margin: 0 auto
  .left-part
    float: left
    margin-left: 50px
  .logo
    margin-top: 10px
    display: block
    h2
      color: #ffffff
      font-size: 16px
      text-transform: uppercase
      font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
  .right-part
    float: right
    margin-right: 50px
    position: relative

.mobile-but
  display: inline-block
  height: 24px
  position: absolute
  right: -20px
  top: -30px
  z-index: 1000
  display: none
  .lines
    height: 2px
    width: 28px
    transform: translate(0px, 10px) rotate(0deg)
    -webkit-transform: translate(0px, 10px) rotate(0deg)
    -ms-transform: translate(0px, 10px) rotate(0deg)
    -moz-transform: translate(0px, 10px) rotate(0deg)

.main-nav
  li
    display: block
    float: left
    text-transform: capitalize
    margin-left: 25px
    a
      color: #ffffff
      display: block
      padding: 12px 0
      position: relative
  .but.login
    background: #ffffff
    padding: 12px 20px
    color: #404040

.but
  i
    position: relative
    left: 5px

.hero-content
  color: #ffffff
  position: relative
  text-align: center
  top: 50%
  transform: translateY(-25%)
  -webkit-transform: translateY(-25%)
  -moz-transform: translateY(-25%)
  -ms-transform: translateY(-25%)
  -o-transform: translateY(-25%)

.block-teaser
  font-family: Lato, sans-serif
  h1
    color: #ffffff
    font-size: 70px
    font-weight: 100
  p.lead
    opacity: .6

p.lead
  font-size: 16px
  line-height: 28px

.but
  padding: 12px 35px
  display: inline-block
  border-radius: 3px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -ms-border-radius: 3px
  -o-border-radius: 3px
  position: relative
  background: #f93d66
  color: #ffffff

.but.medium
  padding: 20px 35px
  font-size: 16px

.block-media
  position: relative
  img
    width: 95%
  .play-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)
    -moz-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    -o-transform: translate(-50%, -50%)
    background: #ffffff
    width: 90px
    height: 90px
    font-size: 35px
    line-height: 90px
    box-shadow: 0 0 40px rgba(0, 0, 0, .1)
    display: block
    border-radius: 50%
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    -ms-border-radius: 50%
    -o-border-radius: 50%

.block-shot img
  box-shadow: 0 25px 40px rgba(0, 0, 0, .15)

.mt-60
  margin-top: 60px !important
.mb-60
  margin-bottom: 60px !important
.mb-30
  margin-bottom: 30px !important

.pb-120
  padding-bottom: 120px !important
.pt-120
  padding-top: 120px !important

h1, h2, h3, h4, h5, h6
  color: #282828
  margin-bottom: 10px
  font-weight: 300

h1.title
  font-size: 35px
  margin-bottom: 20px

.feature
  border: 1px dotted #dddddd
  padding: 30px 20px
  border-radius: 3px
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -ms-border-radius: 3px
  -o-border-radius: 3px
  position: relative
  .ico
    color: #4772d9
    font-size: 40px
    position: absolute
    top: 50%
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
  .desc
    width: 220px
    margin-left: 25%
    h4
      font-size: 16px
      font-weight: 400
    p
      color: #757575
      font-size: 14px

.column
  float: left

p
  line-height: 25px

.bg-grey
  background: #fafafa

.vertical-align
  align-items: center
  -webkit-align-items: center
  flex-direction: row
  -webkit-flex-direction: row
  justify-content: center
  -webkit-justify-content: center
  display: flex
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  -ms-justify-content: center

img
  display: inline-block
  vertical-align: middle
  height: auto
  max-width: 100%

h3.title
  font-size: 33px
  margin-bottom: 20px

.features-list
  font-family: Lato, sans-serif
  li
    line-height: 30px
    color: #757575
    font-size: 14px
    &:before
      color: #34c476
      content: '\ed80'
      font-family: "fontello"
      font-size: 15px
      padding-right: 10px

ul, ol
  list-style: none
  padding: 0

.but.mauve
  background: #4772d9


.footer
  background-color: #303030
  color: #ffffff
  border-top: 1px dotted #dddddd
  font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
  .logo
    h2
      color: #ffffff
      font-size: 16px
      text-transform: uppercase
      font-weight: 400
      font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
  p
    font-size: 14px
    font-weight: 100

.pb-90
  padding-bottom: 90px !important
.pt-90
  padding-top: 90px !important
