.form-wrapper
  background-color: #4772d9
  height: 100vh
  overflow: auto
  .card
    margin-top: 100px
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4)
    border-radius: 10px
    padding-top: 30px
    padding-bottom: 30px
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    border: none
    .header
      padding-bottom: 30px

.card
  .header
    padding: 15px 15px 0px
    color: #333333
    font-weight: 300
    font-size: 22px
  .content
    padding: 15px
  .form-group > label
    font-family: Roboto, sans-serif
    font-size: 12px
    margin-bottom: 5px
    text-transform: uppercase
    font-weight: 400
    color: #888888
  .footer
    padding: 0 15px 10px
    background-color: transparent
    line-height: 30px
    color: #FFFFFF
    font-size: 14px
  .btn-wd
    font-family: Roboto, sans-serif
    min-width: 180px
    color: #FFFFFF
    background-color: #FB404B
    border: 1px solid #FB404B
    font-size: 14px
    font-weight: 100
    opacity: 1
    cursor: pointer
    &:hover
      border: 1px solid #FB404B

.form-control
  font-family: Roboto, sans-serif
  background-color: #FFFFFF
  border: 1px solid #E3E3E3
  border-radius: 4px
  color: #565656
  padding: 8px 12px
  height: 40px
  -webkit-box-shadow: none
  box-shadow: none

.form-control::-webkit-input-placeholder
  color: #aaaaaa
  font-weight: 100
  font-family: Roboto, sans-serif
  font-size: 14px
.form-control:-moz-placeholder
  color: #aaaaaa
  font-weight: 100
  font-family: Roboto, sans-serif
  font-size: 14px
.form-control::-moz-placeholder
  color: #aaaaaa
  font-weight: 100
  font-family: Roboto, sans-serif
  font-size: 14px
  opacity:  1
.form-control:-ms-input-placeholder
  color: #aaaaaa
  font-weight: 100
  font-family: Roboto, sans-serif
  font-size: 14px
