<div class="container-fluid">

  <div class="heading">Live Data</div>
  <div *ngIf="loading">Loading <i class="fa fa-refresh fa-spin"></i></div>

  <div class="row" [hidden]="loading">

    <div class="col-md-4">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="live_users_gauge_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Current Live Users</h4>
          <p class="category">
            <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{_event.live.countLiveUser}}  </span>
            users online now.
          </p>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="event_count_bar_graph_div2"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Events Monitored</h4>
          <p class="category">
            <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{_.size(_event.live.eventCount)}}  </span>
            events are being monitored.
          </p>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="heading">Historic Data</div>
  <div *ngIf="loading">Loading <i class="fa fa-refresh fa-spin"></i></div>

  <div class="row" [hidden]="loading">

    <div class="col-md-12">
      <div class="chart-card">
        <div class="chart-card-header card">
          <div id="user_over_time_line_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Number Of Online Users Over Time</h4>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="referrals_pie_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Referral Sources</h4>
          <p class="category">
            <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{_event.historic.referrals?.direct ? _event.historic.referrals?.direct : 0}}  </span>
            direct referral sources.
          </p>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="new_vs_returning_pie_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">New & Returning Users</h4>
          <p class="category">
            <span class="text-success"><i class="fa fa-long-arrow-up"></i>
              {{_event.historic.newVsReturningUsers.new *100 / (_event.historic.newVsReturningUsers.new + _event.historic.newVsReturningUsers.returning)}}%
            </span>
            increase in new coming users.
          </p>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="page_visit_bar_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Page Visits</h4>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="avg_load_time_bar_graph_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Pages Load Time</h4>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="mobile_spectrum_pie_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Platform Technologies</h4>
          <p class="category">
            <span class="text-success"><i class="fa"></i>
            {{_event.historic.mobileSpectrum.desktop * 100/(_event.historic.mobileSpectrum.desktop + _event.historic.mobileSpectrum.mobile)}}%
            </span>
            desktop users.
            <span class="text-success"><i class="fa"></i>
            {{_event.historic.mobileSpectrum.mobile * 100/(_event.historic.mobileSpectrum.desktop + _event.historic.mobileSpectrum.mobile)}}%
            </span>
            mobile users.
          </p>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="os_spectrum_pie_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Operating Systems Used</h4>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="language_spectrum_pie_chart_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Languages</h4>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="event_count_bar_graph_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Events Monitored</h4>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="chart-card">
        <div class="chart-cart-header card">
          <div id="geo_graph_div"></div>
        </div>
        <div class="chart-card-content">
          <h4 class="title">Geographic Spectrum</h4>
          <p class="category">
            <span class="text-success"><i
              class="fa fa-long-arrow-up"></i> {{_event.historic.geoSpectrum.length}}  </span>
            countries have used your application.
          </p>
        </div>
        <div class="chart-card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated {{lastUpdatedDiff}} minutes ago
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--
<div id="live_users_gauge_chart_div" style="width:80%"></div>
<div id="user_over_time_line_chart_div" style="width:80%"></div>
<div id="referrals_pie_chart_div" style="width:80%"></div>
<div id="page_visit_bar_chart_div" style="width:80%"></div>
<div id="os_spectrum_pie_chart_div" style="width:80%"></div>
<div id="new_vs_returning_pie_chart_div" style="width:80%"></div>
<div id="mobile_spectrum_pie_chart_div" style="width:80%"></div>
<div id="language_spectrum_pie_chart_div" style="width:80%"></div>
<div id="avg_load_time_bar_graph_div" style="width:80%"></div>
<div id="event_count_bar_graph_div" style="width:80%"></div>
<div id="geo_graph_div" style="width:80%"></div>
-->
