<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-minimize">
      <!--<button class="btn btn-danger btn-fill btn-round btn-icon" id="minimizeSidebar">
        <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
        <i class="fa fa-navicon visible-on-sidebar-mini"></i>
      </button>-->
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home/dashboard']">Dashboard</a>
      <!--<a class="navbar-brand log-out" href="#">Log Out</a>-->
    </div>
  </div>
</nav>
