<div class="sidebar">

  <div class="main">
    <div class="logo">
      <a class="logo-text" [routerLink]="['/home/dashboard']">
        By Zero Stats
      </a>
    </div>

    <div class="sidebar-wrapper">

      <div class="user">
        <div class="photo">
          <img src="../../../assets/img/default_user_image.png">
        </div>
        <div class="info">
          {{user.name}}
        </div>
      </div>

      <ul class="nav">
        <li [routerLink]="['/home/dashboard']" [routerLinkActive]="['active']">
          <a>
            <i class="pe-7s-graph"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li>
          <a data-toggle="collapse" href="#componentsExamples">
            <i class="pe-7s-plugin"></i>
            <p>API
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="componentsExamples">
            <ul class="nav">
              <li [routerLink]="['/home/web']" [routerLinkActive]="['active']">
                <a>
                  WEB
                </a>
              </li>
              <li [routerLink]="['/home/android']" [routerLinkActive]="['active']">
                <a>
                  Android
                </a>
              </li>
              <li [routerLink]="['/home/ios']" [routerLinkActive]="['active']">
                <a>
                  IOS
                </a>
              </li>
            </ul>
          </div>
        </li>


        <li (click)="logoutUser()">
          <a href="">
            <i class="pe-7s-date"></i>

            <p>Log Out</p>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="sidebar-background"></div>
</div>
