<div class="card">
  <div class="heading">WEB API</div>
  <div>API KEY (Click to copy)</div>
  <div class="content" style="cursor: copy;" id="api_key" data-clipboard-target="#api_key">{{user._id}}</div>


  <pre>
    <div style="text-align: center;">DOCUMENTATION</div>
      <markdown style="text-align: center;">
        Init the library with function:
        _BZS.init("your app name", "your api key");
        To track events call:
        _BZS.Event.trackEvent("Event name", Additional JSON data);
    </markdown>
  </pre>

  <div class="code-heading">JavaScript API Code</div>
  <pre>
      <markdown id="code" [path]="apiURL"></markdown>
  </pre>

  <div class="text-center">
    <button id="copy_code_btn" style="cursor: copy" data-clipboard-target="#code" class="btn code-btns">Copy</button>
    <a class="btn code-btns" download="injector.js" [attr.href]="apiURL">Download</a>
  </div>

</div>
